<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>WeBuild-An expert construction company - Service Details</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="static/img/favicon.png" rel="icon" />
    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="static/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="static/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
    />
    <link href="static/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="static/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="static/css/main.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: UpConstruction - v1.3.0
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center">
      <div
        class="container-fluid container-xl d-flex align-items-center justify-content-between"
      >
        <a href="/" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="static/img/logo.png" alt=""> -->
          <h1>WeBuild<span>.</span></h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/blog">Blog</a></li>
           
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <div
        class="breadcrumbs d-flex align-items-center"
        style="background-image: url('static/img/breadcrumbs-bg.jpg')"
      >
        <div
          class="container position-relative d-flex flex-column align-items-center"
          data-aos="fade"
        >
          <h2>Service Details</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Architecture Construction</li>
          </ol>
        </div>
      </div>
      <!-- End Breadcrumbs -->

      <!-- ======= Service Details Section ======= -->
      <section id="service-details" class="service-details">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row gy-4">
            <div class="col-lg-4">
              <div class="services-list">
                <a href="/service-details" >Home Construction</a>
                <a href="/commercial">Commercial Construction</a>
                <a href="/architecture" class="active">Architecture Plans</a>
                <a href="/builders">BUILDERS & DEVELOPERS</a>
               
              </div>

              <h4>Architecture Plans</h4>
              <p>
                Our design team can tweak any project, big or small, to suit your needs. In addition, beyondbricks will provide you with an estimate for the cost of building a specific house design in a given zip code.
                We have home plans from designers and architects throughout our portfolio.
Our family-owned company has a seasoned workforce with unrivaled experience in assisting builders and clients in finding house plans that meet their demands and budgets.

              </p>
            </div>

            <div class="col-lg-8">
              <img
                src="static/img/architecture.jpg"
                alt=""
                class="img-fluid services-img"
              />
              <h3>
                Architecture Plans
              </h3>
              <p>
                Before beginning anything, it is necessary to plan. Architectural house plans can assist you in designing a home that you would like to live in. Sure, you'll have to gain approval from the appropriate authorities before moving in, but it'll be worth it. When it comes to professionals who are dedicated to helping individuals find the ideal home, a method like this will make their life, as well as the lives of the purchasers, easier.
We will assist you throughout the design process and act on your behalf.
              </p>
              <p>
                Unlike market norms, which force you to choose from a limited number of possibilities, we are highly open to modifying and reworking until you are satisfied.

              </p>
              <p>
                Our goal is to provide you with one-of-a-kind and innovative architectural ideas while maintaining both quality and economic effectiveness. </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End Service Details Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="footer-content position-relative">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="footer-info">
                <h3>WeBuild</h3>
                <p>
                  j-108 Jubilee Hills <br />
                  HYD 500033, IND<br /><br />
                  <strong>Phone:</strong> +1 5589 55488 55<br />
                  <strong>Email:</strong> WeBuildHYD@gmail.com<br />
                </p>
                <div class="social-links d-flex mt-3">
                  <a
                    href="{{params['tw_url']}}" target="_blank"
                    class="d-flex align-items-center justify-content-center"
                    ><i class="bi bi-twitter"></i
                  ></a>
                  <a
                    href="{{params['fb_url']}}" target="_blank"
                    class="d-flex align-items-center justify-content-center"
                    ><i class="bi bi-facebook"></i
                  ></a>
                  <a
                    href="{{params['insta_url']}}" target="_blank"
                    class="d-flex align-items-center justify-content-center"
                    ><i class="bi bi-instagram"></i
                  ></a>
                  <a
                    href="{{params['link_url']}}" target="_blank"
                    class="d-flex align-items-center justify-content-center"
                    ><i class="bi bi-linkedin"></i
                  ></a>
                </div>
              </div>
            </div>
            <!-- End footer info column-->

            <div class="col-lg-2 col-md-3 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact Us</a></li>
              </ul>
            </div>
            <!-- End footer links column-->

            <div class="col-lg-2 col-md-3 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li>
                  <a href="/service-details">Home Construction</a/
                </li>
                <li><a href="/service-details">Commercial Construction</a></li>
                <li><a href="/service-detals">PMC Services</a></li>
                <li><a href="/service-details">Architectural Plans</a></li>
                <li><a href="/service-details">Building Design</a></li>
              </ul>
            </div>
            <!-- End footer links column-->

            <div class="col-lg-2 col-md-3 footer-links">
              <h4>Navigation</h4>
              <ul>
                <li><a href="/projects">Ongoing Projects</a></li>
                <li><a href="/projects">Completed Projects</a></li>
                <li><a href="/projects">Testimonials</a></li>
              </ul>
            </div>
            <!-- End footer links column-->

            <div class="col-lg-2 col-md-3 footer-links">
              <h>Others</h4>
                <br><br>
                <ul>
                  <li><a href="/career">Carrer</a></li>
                  <li><a href="#">Private Policy</a></li>
                  <li><a href="#">Terms of use</a></li>
                </ul>
            </div>
            <!-- End footer links column-->
          </div>
        </div>
      </div>

      <div class="footer-legal text-center position-relative">
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong><span>WeBuild</span></strong
            >. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
            Designed by <a href="https://www.linkedin.com/in/muntasirulislam/" target="_blank">Muntasirul islam</a>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/aos/aos.js"></script>
    <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="static/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="static/js/main.js"></script>
  </body>
</html>
