<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>WeBuild-An expert construction company - Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/newsletter.css" />

  <!-- =======================================================
  * Template Name: UpConstruction - v1.3.0
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="static/img/logo.png" alt=""> -->
        <h1>We<span>Build</span>.</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/blog">Blog</a></li>
         
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down">Welcome to <span>WeBuild</span></h2>
            <p data-aos="fade-up">An expert construction company.Creating architectural and creative solutions.We peovide the best quality</p>
            <a data-aos="fade-up" data-aos-delay="200" href="#get-started" class="btn-get-started">Get Started</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background-image: url(static/img/hero-carousel/hero-carousel-1.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/img/hero-carousel/hero-carousel-2.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/img/hero-carousel/hero-carousel-3.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/img/hero-carousel/hero-carousel-4.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/img/hero-carousel/hero-carousel-5.jpg)"></div>

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Get Started Section ======= -->


    <!-- ======= Constructions Section ======= -->
    <section id="stats-counter" class="stats-counter section-bg">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
              <div>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="232"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>Happy Clients</p>
              </div>
            </div>
          </div>
          <!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i
                class="bi bi-journal-richtext color-orange flex-shrink-0"
              ></i>
              <div>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="521"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>Projects</p>
              </div>
            </div>
          </div>
          <!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-headset color-green flex-shrink-0"></i>
              <div>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="1463"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>Hours Of Support</p>
              </div>
            </div>
          </div>
          <!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-people color-pink flex-shrink-0"></i>
              <div>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="15"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>Hard Workers</p>
              </div>
            </div>
          </div>
          <!-- End Stats Item -->
        </div>
      </div>
    </section><!-- End Constructions Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Services</h2>
          
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fa-solid fa-mountain-city"></i>
              </div>
              <h3>Home Construction</h3>
              <p>If you have a treasured plot that you want to build on or have
                an existing home that needs a complete makeover, then here is
                Builtful to lead you through. We undertake a distinctive
                portfolio of housing projects that are specific to clients’
                preferences.</p>
              <a href="/service-details" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>Commercial Construction</h3>
              <p>If are you are a business owner or someone looking to engage a
                building construction company in Telangana then Builtful is
                the right choice. With engaging designs, well-defined project
                scope, and a vast experience in our kitty, we undertake
                commercial construction that is engineered to last a lifetime.</p>
              <a href="/service-details" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-compass-drafting"></i>
              </div>
              <h3>PMC Services</h3>
              <p> Explore our full scale Project management consultation
                services for every Construction & Interior related project.
                Being the best builders in Hyderabad, we anchor our expertise
                the right way.</p>
              <a href="/service-details" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->
          </div> 
        </div>
      </div>
    </section><!-- End Services Section -->

      
    </section> 
    <section id="alt-services-2" class="alt-services section-bg">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-around gy-4">
          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>We take care of all the challenges</h3>
            <p>
              At WeBuild, we understand that building a home is a big life
              decision and requires a significant investment of time and
              savings. However, the journey to build this dream home can be
              challenging:
            </p>

            <div
              class="icon-box d-flex position-relative"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <i class="bi bi-alarm flex-shrink-0"></i>
              <div>
                <h4>
                  <a href="" class="stretched-link"
                    >We simplify complex processes</a
                  >
                </h4>
                <p>
                  The journey of building a house involves many complex and
                  technical procedures like getting various drawings made,
                  obtaining approvals from regional authorities, buying
                  numerous materials, etc. It is very difficult to get all
                  these done on time and within budget.
                </p>
              </div>
            </div>

            <div
              class="icon-box d-flex position-relative"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <i class="bi bi-card-checklist flex-shrink-0"></i>
              <div>
                <h4>
                  <a href="" class="stretched-link">We arrange all vendors</a>
                </h4>
                <p>
                  Building a house requires onboarding multiple vendors like
                  architects, engineers, civil contractors, plumbers,
                  electricians, painters, etc.Selecting the right vendors and
                  coordinating with them to work in synchronization is a
                  challenging task
                </p>
              </div>
            </div>

            <div
              class="icon-box d-flex position-relative"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <i class="bi bi-gear flex-shrink-0"></i>
              <div>
                <h4>
                  <a href="" class="stretched-link"
                    >We procure all materials
                  </a>
                </h4>
                <p>
                  Building a home requires huge number of materials of correct
                  quality, grade, and specification. Hence, material selection
                  can be very complex and time consuming.
                </p>
              </div>
            </div>

            <div
              class="icon-box d-flex position-relative"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <i class="bi bi-coin flex-shrink-0"></i>
              <div>
                <h4>
                  <a href="" class="stretched-link"
                    >Complete security of payment</a
                  >
                </h4>
                <p>
                  As you select a local contractor for construction of your
                  home, once you make an advance payment to initiate the
                  construction, there is no black and white reference document
                  for the payment made. The transactions take place on the
                  basis of goodwill and a level of mutual trust with the said
                  contractor.
                </p>
              </div>
            </div>
          </div>

          <div
            class="col-lg-6 img-bg"
            style="background-image: url(static/img/alt-services-2.jpg)"
            data-aos="zoom-in"
            data-aos-delay="100"
          ></div>
        </div>
      </div>
    </section>

    <!-- ======= Features Section ======= -->
    <section id="features" class="features section-bg">
      <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row  g-2 d-flex">

          <li class="nav-item col-3">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
             
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
              
            </a><!-- End tab nav item -->

          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
             
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
           
            </a>
          </li><!-- End tab nav item -->

        </ul>

        <div class="tab-content">

          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <h3>Your Dream, Our Construction</h3>
                <p class="fst-italic">
                 RESIDENTAL CONSTRUCTION
                </p>
                <br>
                <p>When it comes to home construction, the human element is crucial. WeBuild the technical and economic requirements, homes should accurately reflect their owners' choices, goals, and personalities. Residential construction managers who understand that they are establishing a heritage can integrate this into valid, cohesive projects with attainable goals and reasonable constraints.</p>
               <br>
               <p>We're here to help you by coordinating and implementing end-to-end services on your behalf, taking every element of your preferences into account, and making it the 'best from better.' At the same time, you monitor from the comfort of your own home.</p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="static/img/features-1.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>Your Project, Our Vision</h3>
                <p class="fst-italic">
                 COMMERCIAL CONSTRUCTION
                </p>
                <br>
                <p>Commercial construction, office work, co-working space construction, hospital construction, showroom construction, retail construction, hotel and restaurant construction, mall construction, resort construction, office interiors, hotel interiors, commercial complex construction, and interiors are all areas where we can assist.</p>
                <br>
                <p>It can be challenging to keep a commercial building in good shape. Even while the building is in place, it may require maintenance. Alternatively, a company may have exceeded its present capacity and require additional staff. Renovation is usually a cost-effective solution when a firm requires or wants to restructure. Therefore, the importance of commercial renovation and refurbishment cannot be underestimated.</p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="static/img/features-2.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>Your Land, Our Development</h3>
                <p class="fst-italic">
               BUILDERS & DEVELOPERS
                </p>
                <br>
                <p>It's the culmination of hard work. It's your dream and comfort. It's a location where you can reflect on your life. Developing your luxury home in your preferred area should be that moment.</p>
                <br>
                <p>Project management, in general, keeps the project on track and acts as a historical reference for future initiatives.</p>
                <br>
                <p>When planning your dream home, it's easy to let your ideas flow. First, however, a blueprint must be submitted to and authorized by the appropriate authorities before work on your home can begin.</p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="static/img/features-3.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>Your Fantasies, Our Designs</h3>
                <h6 class="fst-italic">
                 ARCHITECTURAL PLANS
              </h6>
              <p>Our design team can tweak any project, big or small, to suit your needs. In addition, beyondbricks will provide you with an estimate for the cost of building a specific house design in a given zip code.</p>
              <br>
              <p>Architectural house designs are among the most important factors to consider when constructing a home. In addition, representatives can testify to using these as part of a strategic plan to sell homes.</p>
                
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="static/img/features-4.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Our Projects Section ======= -->
    <section id="projects" class="projects">
      <div class="section-header my-3">
        <h2>Projects</h2>
      </div>
      <div class="container" data-aos="fade-up">
        <div
          class="portfolio-isotope"
          data-portfolio-filter="*"
          data-portfolio-layout="masonry"
          data-portfolio-sort="original-order"
        >
          <ul
            class="portfolio-flters"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <li data-filter="*" class="filter-active">ALL PROJECTS</li>
            <li data-filter=".filter-remodeling">FEATURED PROJECTS</li>
            <li data-filter=".filter-construction">ONGOING PROJECTS</li>
            <li data-filter=".filter-repairs">COMPLETED PROJECTS</li>
            <li data-filter=".filter-design">DESIGN</li>
          </ul>
          <!-- End Projects Filters -->

          <div
            class="row gy-4 portfolio-container"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
              <div class="portfolio-content h-100">
                <img
                  src="static/img/project-featured01.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Futured Project 01</h4>
                  <p>Trunkey</p>
                  <a
                    href="static/img/projects/remodeling-1.jpg"
                    title="Trunkey"
                    data-gallery="portfolio-gallery-remodeling"
                    class="glightbox preview-link"
                    ><i class="bi bi-zoom-in"></i
                  ></a>
                  <a
                    href="/project-details"
                    title="More Details"
                    class="details-link"
                    ><i class="bi bi-link-45deg"></i
                  ></a>
                </div>
              </div>
            </div>
            <!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
              <div class="portfolio-content h-100">
                <img
                  src="static/img/project-ongoing01.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Ongoing</h4>
                  <p>Railway</p>
                  <a
                    href="static/img/project-ongoing01.jpg"
                    title="Railway"
                    data-gallery="portfolio-gallery-construction"
                    class="glightbox preview-link"
                    ><i class="bi bi-zoom-in"></i
                  ></a>
                  <a
                    href="/project-details"
                    title="More Details"
                    class="details-link"
                    ><i class="bi bi-link-45deg"></i
                  ></a>
                </div>
              </div>
            </div>
            <!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
              <div class="portfolio-content h-100">
                <img
                  src="static/img/project-complete01.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Completed</h4>
                  <p>Architecture Design</p>
                  <a
                    href="static/img/project-complete01.jpg"
                    title="Architecture Design"
                    data-gallery="portfolio-gallery-repairs"
                    class="glightbox preview-link"
                    ><i class="bi bi-zoom-in"></i
                  ></a>
                  <a
                    href="/project-details"
                    title="More Details"
                    class="details-link"
                    ><i class="bi bi-link-45deg"></i
                  ></a>
                </div>
              </div>
            </div>
            <!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-design">
              <div class="portfolio-content h-100">
                <img
                  src="static/img/projects/design-1.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Design</h4>
                  <p>Architecture Design</p>
                  <a
                    href="static/img/projects/design-1.jpg"
                    title="Repairs 1"
                    data-gallery="portfolio-gallery-book"
                    class="glightbox preview-link"
                    ><i class="bi bi-zoom-in"></i
                  ></a>
                  <a
                    href="/project-details"
                    title="More Details"
                    class="details-link"
                    ><i class="bi bi-link-45deg"></i
                  ></a>
                </div>
              </div>
            </div>
            <!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
              <div class="portfolio-content h-100">
                <img
                  src="static/img/project-featured02.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Featured project 02</h4>
                  <p>The villa</p>
                  <a
                    href="static/img/projects/remodeling-2.jpg"
                    title="The Villa"
                    data-gallery="portfolio-gallery-remodeling"
                    class="glightbox preview-link"
                    ><i class="bi bi-zoom-in"></i
                  ></a>
                  <a
                    href="/project-details"
                    title="More Details"
                    class="details-link"
                    ><i class="bi bi-link-45deg"></i
                  ></a>
                </div>
              </div>
            </div>
            <!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
              <div class="portfolio-content h-100">
                <img
                  src="static/img/project-ongoing02.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Ongoing</h4>
                  <p>project Hills</p>
                  <a
                    href="static/img/project-ongoing02.jpg"
                    title="Project Hills"
                    data-gallery="portfolio-gallery-construction"
                    class="glightbox preview-link"
                    ><i class="bi bi-zoom-in"></i
                  ></a>
                  <a
                    href="/project-details"
                    title="More Details"
                    class="details-link"
                    ><i class="bi bi-link-45deg"></i
                  ></a>
                </div>
              </div>
            </div>
            <!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
              <div class="portfolio-content h-100">
                <img
                  src="static/img/project-complete03.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Completed</h4>
                  <p>Interior Design</p>
                  <a
                    href="static/img/project-complete03.jpg"
                    title="Interior Desing"
                    data-gallery="portfolio-gallery-repairs"
                    class="glightbox preview-link"
                    ><i class="bi bi-zoom-in"></i
                  ></a>
                  <a
                    href="/project-details"
                    title="More Details"
                    class="details-link"
                    ><i class="bi bi-link-45deg"></i
                  ></a>
                </div>
              </div>
            </div>
            <!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-design">
              <div class="portfolio-content h-100">
                <img
                  src="static/img/projects/design-2.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Design</h4>
                  <p>Design planing</p>
                  <a
                    href="static/img/projects/design-2.jpg"
                    title="Repairs 2"
                    data-gallery="portfolio-gallery-book"
                    class="glightbox preview-link"
                    ><i class="bi bi-zoom-in"></i
                  ></a>
                  <a
                    href="/project-details"
                    title="More Details"
                    class="details-link"
                    ><i class="bi bi-link-45deg"></i
                  ></a>
                </div>
              </div>
            </div>
            <!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
              <div class="portfolio-content h-100">
                <img
                  src="static/img/projects/remodeling-3.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Featured project 03/h4>
                  <p>Mannat</p>
                  <a
                    href="static/img/project-featured03.jpg"
                    title="Mannat"
                    data-gallery="portfolio-gallery-remodeling"
                    class="glightbox preview-link"
                    ><i class="bi bi-zoom-in"></i
                  ></a>
                  <a
                    href="/project-details"
                    title="More Details"
                    class="details-link"
                    ><i class="bi bi-link-45deg"></i
                  ></a>
                </div>
              </div>
            </div>
            <!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
              <div class="portfolio-content h-100">
                <img
                  src="static/img/project-ongoing03.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Ongoing</h4>
                  <p>Amua pvt. ltd.</p>
                  <a
                    href="static/img/project-ongoing03.jpg"
                    title="Amua pvt. ltd."
                    data-gallery="portfolio-gallery-construction"
                    class="glightbox preview-link"
                    ><i class="bi bi-zoom-in"></i
                  ></a>
                  <a
                    href="/project-details"
                    title="More Details"
                    class="details-link"
                    ><i class="bi bi-link-45deg"></i
                  ></a>
                </div>
              </div>
            </div>
            <!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
              <div class="portfolio-content h-100">
                <img
                  src="static/img/project-complete02.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Completed</h4>
                  <p>ASTP Pvt. Ltd.</p>
                  <a
                    href="static/img/project-complete02.jpg"
                    title="ASTP Pvt. Ltd."
                    data-gallery="portfolio-gallery-repairs"
                    class="glightbox preview-link"
                    ><i class="bi bi-zoom-in"></i
                  ></a>
                  <a
                    href="/project-details"
                    title="More Details"
                    class="details-link"
                    ><i class="bi bi-link-45deg"></i
                  ></a>
                </div>
              </div>
            </div>
            <!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-design">
              <div class="portfolio-content h-100">
                <img
                  src="static/img/projects/design-3.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Design</h4>
                  <p>House Design</p>
                  <a
                    href="static/img/projects/design-3.jpg"
                    title="Repairs 3"
                    data-gallery="portfolio-gallery-book"
                    class="glightbox preview-link"
                    ><i class="bi bi-zoom-in"></i
                  ></a>
                  <a
                    href="/project-details"
                    title="More Details"
                    class="details-link"
                    ><i class="bi bi-link-45deg"></i
                  ></a>
                </div>
              </div>
            </div>
            <!-- End Projects Item -->
          </div>
          <!-- End Projects Container -->
        </div>
      </div>
    </section>

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Testimonials</h2>
          <h5>Why people say?</h5>
        </div>

        <div class="slides-2 swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img
                    src="static/img/testimonials/testimonials-1.jpg"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Nawaz</h3>
                  <h4>Hyderabad</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    WeBuild Constructions fulfils dreams beyond our imagination. "We received a unique commercial plan from its team and an unexceptionally completed project within our time and budget."I wholeheartedly wish them luck with the launch of their new project, Bayond.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
            <!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img
                    src="static/img/testimonials/testimonials-2.jpg"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    "Thank you, WeBuild Constructions, for a beautiful construction experience for my dream project. You are one of the best teams I have worked with. The management team ensured that each construction detail was completed as soon as possible.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
            <!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img
                    src="static/img/testimonials/testimonials-3.jpg"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Kiran Kumar</h3>
                  <h4>Home Owner</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    "We received an honest dream home architectural plan from WeBuild Constructions that fulfils all our needs without compromising our family members' demands." Satisfying all members at once with innovative designs is a difficult job.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
            <!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">
      <div class="container" data-aos="fade-up"">

    
    
  <div class=" section-header">
        <h2>Recent Blog Posts</h2>
        <p>In commodi voluptatem excepturi quaerat nihil error autem voluptate ut et officia consequuntu</p>
      </div>

      <div class="row gy-5">

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="post-item position-relative h-100">
            <div class="post-img position-relative overflow-hidden">
              <img
                src="static/img/blog/blog-1.jpg"
                class="img-fluid"
                alt=""
              />
              <span class="post-date">December 12</span>
            </div>

            <div class="post-content d-flex flex-column">
              <h3 class="post-title">
                How to Build a House-Tips, tricks, and advice from
                construction professionals
              </h3>

              <div class="meta d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <i class="bi bi-person"></i>
                  <span class="ps-2">John Doe</span>
                </div>
                <span class="px-3 text-black-50">/</span>
                <div class="d-flex align-items-center">
                  <i class="bi bi-folder2"></i>
                  <span class="ps-2">Politics</span>
                </div>
              </div>

              <p>
                Building a house is no easy task; it requires lots of hard
                work, dedication, and the right resources. For those of us
                with limited construction experience, building a house can
                feel like an overwhelming and daunting challenge
              </p>

              <hr />

              <a href="/blog-details" class="readmore stretched-link"
                ><span>Read More</span><i class="bi bi-arrow-right"></i
              ></a>
            </div>
          </div>
        </div><!-- End post item -->

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="post-item position-relative h-100">
            <div class="post-img position-relative overflow-hidden">
              <img
                src="static/img/blog/blog-2.jpg"
                class="img-fluid"
                alt=""
              />
              <span class="post-date">March 19</span>
            </div>

            <div class="post-content d-flex flex-column">
              <h3 class="post-title">
                Factors that affect the construction cost of a project
              </h3>

              <div class="meta d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <i class="bi bi-person"></i>
                  <span class="ps-2">Julia Parker</span>
                </div>
                <span class="px-3 text-black-50">/</span>
                <div class="d-flex align-items-center">
                  <i class="bi bi-folder2"></i>
                  <span class="ps-2">Economics</span>
                </div>
              </div>

              <p>
                Factors that affect the construction cost of a project:
                Construction costs depend on many factors. Learn about the
                factors that can affect the construction cost of your
                building.
              </p>

              <hr />

              <a href="/blog-details" class="readmore stretched-link"
                ><span>Read More</span><i class="bi bi-arrow-right"></i
              ></a>
            </div>
          </div>
        </div><!-- End post item -->

        <div class="col-xl-4 col-md-6">
          <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">
            <div class="post-img position-relative overflow-hidden">
              <img
                src="static/img/blog/blog-3.jpg"
                class="img-fluid"
                alt=""
              />
              <span class="post-date">June 24</span>
            </div>

            <div class="post-content d-flex flex-column">
              <h3 class="post-title">
                Is it better to buy or build your dream home?
              </h3>

              <div class="meta d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <i class="bi bi-person"></i>
                  <span class="ps-2">Maria Doe</span>
                </div>
                <span class="px-3 text-black-50">/</span>
                <div class="d-flex align-items-center">
                  <i class="bi bi-folder2"></i>
                  <span class="ps-2">Sports</span>
                </div>
              </div>

              <p>
                Well, a few things to consider before deciding whether to
                build your own home or buy one. For example, do you have the
                skill set to do so? And what about time and money?
              </p>

              <hr />

              <a href="/blog-details" class="readmore stretched-link"
                ><span>Read More</span><i class="bi bi-arrow-right"></i
              ></a>
            </div>
          </div>
        </div><!-- End post item -->

      </div>

      </div>
    </section>
    
      <!-- <section class="subscribe-area pb-50 pt-70">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="subscribe-text mb-15">
                <span>JOIN OUR WeBuild</span>
                <h5>subscribe for letest construction updates</h5>
              </div>
            </div>
            <div class="col-md-8">
              <div class="subscribe-wrapper subscribe2-wrapper mb-15">
                <div class="subscribe-form">
                  <form action="#">
                    <input placeholder="enter your email address" type="email" />
                    
                     
                      <button
                      class="btn btn-success"
                      id="sendMessageButton"
                      type="submit"
                    >
                      subscribe<i class="fas fa-long-arrow-alt-right"></i>
                    </button>
                     
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
     -->
    <!-- End Recent Blog Posts Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>WeBuild</h3>
              <p>
                j-108 Jubilee Hills <br />
                HYD 500033, IND<br /><br />
                <strong>Phone:</strong> +1 5589 55488 55<br />
                <strong>Email:</strong> WeBuildHYD@gmail.com<br />
              </p>
              <div class="social-links d-flex mt-3">
                <a
                  href="{{params['tw_url']}}" target="_blank"
                  class="d-flex align-items-center justify-content-center"
                  ><i class="bi bi-twitter"></i
                ></a>
                <a
                  href="{{params['fb_url']}}" target="_blank"
                  class="d-flex align-items-center justify-content-center"
                  ><i class="bi bi-facebook"></i
                ></a>
                <a
                  href="{{params['insta_url']}}" target="_blank"
                  class="d-flex align-items-center justify-content-center"
                  ><i class="bi bi-instagram"></i
                ></a>
                <a
                  href="{{params['link_url']}}" target="_blank"
                  class="d-flex align-items-center justify-content-center"
                  ><i class="bi bi-linkedin"></i
                ></a>
              </div>
            </div>
          </div>
          <!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About us</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
          </div>
          <!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li>
                <a href="/service-details">Home Construction</a/
              </li>
              <li><a href="/service-details">Commercial Construction</a></li>
              <li><a href="/service-detals">PMC Services</a></li>
              <li><a href="/service-details">Architectural Plans</a></li>
              <li><a href="/service-details">Building Design</a></li>
            </ul>
          </div>
          <!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Navigation</h4>
            <ul>
              <li><a href="/projects">Ongoing Projects</a></li>
              <li><a href="/projects">Completed Projects</a></li>
              <li><a href="/projects">Testimonials</a></li>
            </ul>
          </div>
          <!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h>Others</h4>
              <br><br>
              <ul>
                <li><a href="/career">Carrer</a></li>
                <li><a href="#">Private Policy</a></li>
                <li><a href="#">Terms of use</a></li>
              </ul>
          </div>
          <!-- End footer links column-->
        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>WeBuild</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
          Designed by <a href="https://www.linkedin.com/in/muntasirulislam/" target="_blank">Muntasirul islam</a>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a
    href="#"
    class="scroll-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i
  ></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>
</body>
</html>
