<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>WeBuild-An expert construction company - Services</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="static/img/favicon.png" rel="icon" />
    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="static/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="static/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
    />
    <link href="static/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="static/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="static/css/main.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: UpConstruction - v1.3.0
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center">
      <div
        class="container-fluid container-xl d-flex align-items-center justify-content-between"
      >
        <a href="/" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="static/img/logo.png" alt=""> -->
          <h1>We<span>Build</span>.</h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services" class="active">Services</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <div
        class="breadcrumbs d-flex align-items-center"
        style="background-image: url('static/img/breadcrumbs-bg.jpg')"
      >
        <div
          class="container position-relative d-flex flex-column align-items-center"
          data-aos="fade"
        >
          <h2>Services</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Services</li>
          </ol>
        </div>
      </div>
      <!-- End Breadcrumbs -->
      <!-- ======= Services Section ======= -->
      <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
          <div class="row gy-4">
            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="fa-solid fa-mountain-city"></i>
                </div>
                <h3>Home construction</h3>
                <p>
                  If you have a treasured plot that you want to build on or have
                  an existing home that needs a complete makeover, then here is
                  Builtful to lead you through. We undertake a distinctive
                  portfolio of housing projects that are specific to clients’
                  preferences.
                </p>
                <a href="/service-details" class="readmore stretched-link"
                  >Learn more <i class="bi bi-arrow-right"></i
                ></a>
              </div>
            </div>
            <!-- End Service Item -->

            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="fa-solid fa-arrow-up-from-ground-water"></i>
                </div>
                <h3>Commercial Construction</h3>
                <p>
                  If are you are a business owner or someone looking to engage a
                  building construction company in Telangana then Builtful is
                  the right choice. With engaging designs, well-defined project
                  scope, and a vast experience in our kitty, we undertake
                  commercial construction that is engineered to last a lifetime
                </p>
                <a href="/service-details" class="readmore stretched-link"
                  >Learn more <i class="bi bi-arrow-right"></i
                ></a>
              </div>
            </div>
            <!-- End Service Item -->

            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="fa-solid fa-compass-drafting"></i>
                </div>
                <h3>PMC Service</h3>
                <p>
                  Explore our full scale Project management consultation
                  services for every Construction & Interior related project.
                  Being the best builders in Hyderabad, we anchor our expertise
                  the right way.
                </p>
                <a href="/service-details" class="readmore stretched-link"
                  >Learn more <i class="bi bi-arrow-right"></i
                ></a>
              </div>
            </div>
            <!-- End Service Item -->
            <div class="container my-3">
              <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img
                      src="static/img/about-design.jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                    <div class="carousel-caption d-none d-md-block">
                      <h3><b>Experience life built better</b></h3>
                      <p>let's get to know requirements</p>
                      <a href="/contact" target="_blank">
                        <button type="button" class="btn btn-outline-success">
                          Contact Us
                        </button>

                      </a>
                     
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img
                      src="https://images.unsplash.com/photo-1512917774080-9991f1c4c750?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                      class="d-flex justify-content-center w-100 h-auto"
                      alt="..."
                    />
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Home Twins</h5>
                      <p>
                        One of our best project. we have successfully done.
                      </p>
                    </div>
                  </div>
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Services Section -->
      <!-- ======= Servie Cards Section ======= -->
      <section id="services-cards" class="services-cards">
        <div class="container" data-aos="fade-up">
          <div class="row gy-4">
            <div
              class="col-lg-3 col-md-6 mx-2"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="card mb-3 bg-light" style="width: 18rem">
                <div class="card-body">
                  <h5 class="card-title">ALL DRAWINGS</h5>
                  <p class="card-text">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="28"
                      width="28"
                      viewBox="0 0 50 50"
                    >
                      <path
                        d="M18.9 35.7 7.7 24.5l2.15-2.15 9.05 9.05 19.2-19.2 2.15 2.15Z"
                      ></path>
                    </svg>
                    Architectural
                    <br />
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="28"
                      width="28"
                      viewBox="0 0 50 50"
                    >
                      <path
                        d="M18.9 35.7 7.7 24.5l2.15-2.15 9.05 9.05 19.2-19.2 2.15 2.15Z"
                      ></path>
                    </svg>
                    Structural
                    <br />
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="28"
                      width="28"
                      viewBox="0 0 50 50"
                    >
                      <path
                        d="M18.9 35.7 7.7 24.5l2.15-2.15 9.05 9.05 19.2-19.2 2.15 2.15Z"
                      ></path>
                    </svg>
                    Electrical
                    <br />
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="28"
                      width="28"
                      viewBox="0 0 50 50"
                    >
                      <path
                        d="M18.9 35.7 7.7 24.5l2.15-2.15 9.05 9.05 19.2-19.2 2.15 2.15Z"
                      ></path>
                    </svg>
                    Pipeline
                  </p>
                </div>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6 mx-2"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="card mb-3 bg-warning" style="width: 18rem">
                <div class="card-body">
                  <h5 class="card-title">PLANS AND APPROVAL</h5>
                  <p class="card-text">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="28"
                      width="28"
                      viewBox="0 0 50 50"
                    >
                      <path
                        d="M18.9 35.7 7.7 24.5l2.15-2.15 9.05 9.05 19.2-19.2 2.15 2.15Z"
                      ></path>
                    </svg>
                    Help in getting plans approved by local authorities.
                    <br />
                    <br />
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="28"
                      width="28"
                      viewBox="0 0 50 50"
                    >
                      <path
                        d="M18.9 35.7 7.7 24.5l2.15-2.15 9.05 9.05 19.2-19.2 2.15 2.15Z"
                      ></path>
                    </svg>
                    plans approval by state level authorities
                  </p>
                </div>
              </div>
            </div>
            <!-- End feature item-->

            <div
              class="col-lg-3 col-md-6 mx-2"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="card mb-3 bg-info" style="width: 18rem">
                <div class="card-body">
                  <h5 class="card-title">PROCUREMENT OF ALL MATERIALS</h5>
                  <p class="card-text">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="28"
                      width="28"
                      viewBox="0 0 50 50"
                    >
                      <path
                        d="M18.9 35.7 7.7 24.5l2.15-2.15 9.05 9.05 19.2-19.2 2.15 2.15Z"
                      ></path>
                    </svg>
                    We source the best materials which is needed and best choice
                    to build your house.We procurement the best metirials.
                    <br />
                  </p>
                </div>
              </div>
            </div>
            <!-- End feature item-->

            <div
              class="col-lg-2 col-md-4 mx-2"
              data-aos="zoom-in"
              data-aos-delay="400"
            >
              <div class="card mb-3 bg-success" style="width: 18rem">
                <div class="card-body">
                  <h5 class="card-title">ALL CONSTRUCTION WORKS</h5>
                  <p class="card-text">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="28"
                      width="28"
                      viewBox="0 0 50 50"
                    >
                      <path
                        d="M18.9 35.7 7.7 24.5l2.15-2.15 9.05 9.05 19.2-19.2 2.15 2.15Z"
                      ></path>
                    </svg>
                    All civil work
                    <br />
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="28"
                      width="28"
                      viewBox="0 0 50 50"
                    >
                      <path
                        d="M18.9 35.7 7.7 24.5l2.15-2.15 9.05 9.05 19.2-19.2 2.15 2.15Z"
                      ></path>
                    </svg>
                    Build high cost buildings
                    <br />
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="28"
                      width="28"
                      viewBox="0 0 50 50"
                    >
                      <path
                        d="M18.9 35.7 7.7 24.5l2.15-2.15 9.05 9.05 19.2-19.2 2.15 2.15Z"
                      ></path>
                    </svg>
                    Installation of plumbing systems
                    <br />
                  </p>
                </div>
              </div>
            </div>
            <!-- End feature item-->
          </div>
        </div>
      </section>
      <!-- End Servie Cards Section -->

      <!-- ======= Alt Services Section 2 ======= -->
      <section id="alt-services-2" class="alt-services section-bg">
        <div class="container" data-aos="fade-up">
          <div class="row justify-content-around gy-4">
            <div class="col-lg-5 d-flex flex-column justify-content-center">
              <h3>We take care of all the challenges</h3>
              <p>
                At WeBuild, we understand that building a home is a big life
                decision and requires a significant investment of time and
                savings. However, the journey to build this dream home can be
                challenging:
              </p>

              <div
                class="icon-box d-flex position-relative"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <i class="bi bi-alarm flex-shrink-0"></i>
                <div>
                  <h4>
                    <a href="" class="stretched-link"
                      >We simplify complex processes</a
                    >
                  </h4>
                  <p>
                    The journey of building a house involves many complex and
                    technical procedures like getting various drawings made,
                    obtaining approvals from regional authorities, buying
                    numerous materials, etc. It is very difficult to get all
                    these done on time and within budget.
                  </p>
                </div>
              </div>

              <div
                class="icon-box d-flex position-relative"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <i class="bi bi-card-checklist flex-shrink-0"></i>
                <div>
                  <h4>
                    <a href="" class="stretched-link">We arrange all vendors</a>
                  </h4>
                  <p>
                    Building a house requires onboarding multiple vendors like
                    architects, engineers, civil contractors, plumbers,
                    electricians, painters, etc.Selecting the right vendors and
                    coordinating with them to work in synchronization is a
                    challenging task
                  </p>
                </div>
              </div>

              <div
                class="icon-box d-flex position-relative"
                data-aos="fade-up"
                data-aos-delay="300"
              >
                <i class="bi bi-gear flex-shrink-0"></i>
                <div>
                  <h4>
                    <a href="" class="stretched-link"
                      >We procure all materials
                    </a>
                  </h4>
                  <p>
                    Building a home requires huge number of materials of correct
                    quality, grade, and specification. Hence, material selection
                    can be very complex and time consuming.
                  </p>
                </div>
              </div>

              <div
                class="icon-box d-flex position-relative"
                data-aos="fade-up"
                data-aos-delay="400"
              >
                <i class="bi bi-coin flex-shrink-0"></i>
                <div>
                  <h4>
                    <a href="" class="stretched-link"
                      >Complete security of payment</a
                    >
                  </h4>
                  <p>
                    As you select a local contractor for construction of your
                    home, once you make an advance payment to initiate the
                    construction, there is no black and white reference document
                    for the payment made. The transactions take place on the
                    basis of goodwill and a level of mutual trust with the said
                    contractor.
                  </p>
                </div>
              </div>
            </div>

            <div
              class="col-lg-6 img-bg"
              style="background-image: url(static/img/alt-services-2.jpg)"
              data-aos="zoom-in"
              data-aos-delay="100"
            ></div>
          </div>
        </div>
      </section>
      <!-- End Alt Services Section 2 -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="footer-content position-relative">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="footer-info">
                <h3>WeBuild</h3>
                <p>
                  j-108 Jubilee Hills <br />
                  HYD 500033, IND<br /><br />
                  <strong>Phone:</strong> +1 5589 55488 55<br />
                  <strong>Email:</strong> WeBuildHYD@gmail.com<br />
                </p>
                <div class="social-links d-flex mt-3">
                  <a
                    href="{{params['tw_url']}}" target="_blank"
                    class="d-flex align-items-center justify-content-center"
                    ><i class="bi bi-twitter"></i
                  ></a>
                  <a
                    href="{{params['fb_url']}}" target="_blank"
                    class="d-flex align-items-center justify-content-center"
                    ><i class="bi bi-facebook"></i
                  ></a>
                  <a
                    href="{{params['insta_url']}}" target="_blank"
                    class="d-flex align-items-center justify-content-center"
                    ><i class="bi bi-instagram"></i
                  ></a>
                  <a
                    href="{{params['link_url']}}" target="_blank"
                    class="d-flex align-items-center justify-content-center"
                    ><i class="bi bi-linkedin"></i
                  ></a>
                </div>
              </div>
            </div>
            <!-- End footer info column-->

            <div class="col-lg-2 col-md-3 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact Us</a></li>
              </ul>
            </div>
            <!-- End footer links column-->

            <div class="col-lg-2 col-md-3 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li>
                  <a href="/service-details">Home Construction</a/
                </li>
                <li><a href="/service-details">Commercial Construction</a></li>
                <li><a href="/service-detals">PMC Services</a></li>
                <li><a href="/service-details">Architectural Plans</a></li>
                <li><a href="/service-details">Building Design</a></li>
              </ul>
            </div>
            <!-- End footer links column-->

            <div class="col-lg-2 col-md-3 footer-links">
              <h4>Navigation</h4>
              <ul>
                <li><a href="/projects">Ongoing Projects</a></li>
                <li><a href="/projects">Completed Projects</a></li>
                <li><a href="/projects">Testimonials</a></li>
              </ul>
            </div>
            <!-- End footer links column-->

            <div class="col-lg-2 col-md-3 footer-links">
              <h>Others</h4>
                <br><br>
                <ul>
                  <li><a href="/career">Carrer</a></li>
                  <li><a href="#">Private Policy</a></li>
                  <li><a href="#">Terms of use</a></li>
                </ul>
            </div>
            <!-- End footer links column-->
          </div>
        </div>
      </div>

      <div class="footer-legal text-center position-relative">
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong><span>WeBuild</span></strong
            >. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
            Designed by <a href="https://www.linkedin.com/in/muntasirulislam/" target="_blank">Muntasirul islam</a>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/aos/aos.js"></script>
    <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="static/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="static/js/main.js"></script>
  </body>
</html>
